$primary-color: #4a57c3;

// Background colours
$orange-top-left: #FFC107;
$orange-top-right: #FFECB3;
$orange-bottom: #FFA000;

$green-top-left: #009688;
$green-top-right: #B2DFDB;
$green-bottom: #00796B;

$violet-top-left: #7E57C2;
$violet-top-right: #B39DDB;
$violet-bottom: #4527A0;