@import 'devices.scss';
@import 'text.scss';

$primary-color: #4a57c3;

body{
  font-family: Helvetica;
  font-style: normal;
  background-color: white;
  height: 100%;
  margin: 0;
  padding: 0;
}

.main-container{
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  display: grid;
  grid-template-columns: 5% 45% 45% 5%;
  grid-template-rows: 30% 70%;

  @media #{$desktop} {
    grid-template-columns: auto 580px 400px auto;
  }

  @media #{$tablet} {
    grid-template-columns: auto 430px 230px auto;
  }
}

.header-container {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start:2;
  position: relative;
  display: flex;
  align-items: flex-start;

  @media #{$desktop, $tablet} {
    align-items: center;
  }
}

.hidden {
  visibility: hidden;
}

header {
  position: absolute;
  font-weight: bold;
  line-height: 1em;
  font-size: 2em;
  width: 100px;
  justify-self: start;
  margin: 20% 0 0 0;
  transform: skewY(-20deg);
  transform-origin: left center;

  @media #{$desktop} {
    width: 400px;
    font-size: 5em;
    margin: 0;
  }

  @media #{$tablet}{
    font-size: 4em;
    width: 200px;
    justify-self: end;
    margin: 0;
  }
}

nav {
  grid-column: 3;
  grid-row-start:2;
  display: flex;
  position: relative;
  justify-self: end;

  @media #{$desktop, $tablet} {
    justify-self: initial;
  }

  .icon {
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 40px;

    &:hover {
      svg {
        color: blue;
      }
    }
  }

  ul {
    position: relative;
    top: 0;
    list-style-type: none;
    padding: 3px;
    margin: 0;

    li {
      transform: skewY(20deg);
      font-weight: bold;
      padding-top: 10%;
      padding-bottom: 0%;
      font-size: 1.75em;
      line-height: 1.25em;
      display: list-item;
      animation: showLink .3s ease-in-out;
      transform-origin: top left;

      @media #{$desktop} {
        font-size: 3.875em;
      }

      @media #{$tablet} {
        font-size: 3.2em;
      }
    }

    a {
      text-decoration: none;
      color: black;

      &:hover {
        color: $primary-color;
      }
    }
  }
}

$orange-top-left: #FFC107;
$orange-top-right: #FFECB3;
$orange-bottom: #FFA000;

$green-top-left: #009688;
$green-top-right: #B2DFDB;
$green-bottom: #00796B;

$violet-top-left: #7E57C2;
$violet-top-right: #B39DDB;
$violet-bottom: #4527A0;

.blog {
  background-color: white;
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row: 3;
  z-index: 1;
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 5% auto;

  @media #{$desktop} {
    grid-column-gap: 20px;
    grid-template-columns: auto 980px auto;
  }

  @media #{$tablet} {
    grid-column-gap: 20px;
    grid-template-columns: auto 520px 120px auto;
  }

  aside {
    display: none;

    @media #{$desktop, $tablet} {
      display: block;
      grid-row: 2;
      grid-column: 2;
    }
  }

  .content-container {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media #{$desktop, $tablet} {
      grid-column-start: 2;
      grid-column-end: 3;
    }
  }

  .post-thumbnail {
    margin: 0 0 25px 0;
    align-self: start;

    a {
      text-decoration: none;
      color: black;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.element{
position: absolute;
width: 70px;
height: 70px;


  &.green {
    .top-left {
      background-color: $green-top-left;
    }

    .top-right { 
      background-color: $green-top-right;
    }

    .bottom {
      background-color: $green-bottom;
    }
  }
  
  &.violet {
    .top-left {
      background-color: $violet-top-left;
    }

    .top-right { 
      background-color: $violet-top-right;
    }

    .bottom {
      background-color: $violet-bottom;
    }
  }

  &.orange {
    .top-left {
      background-color: $orange-top-left;
    }

    .top-right { 
      background-color: $orange-top-right;
    }

    .bottom {
      background-color: $orange-bottom;
    }
  }

  .top-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    transform: skewY(-20deg);
  }
  .top-right {
    position: absolute;
    top: 0;
    left: 25px;
    width: 25px;
    height: 25px;
    transform: skewY(20deg);
  }

  .bottom{
    position: absolute;
    width: 24px;
    top: 17px;
    left: 12.5px;
    height: 24.5px;
    transform: rotate(-45deg) skew(23.5deg, 23.5deg);
  }
}

@mixin keyframe ($animation_name){
  @-webkit-keyframes #{$animation_name} {
      @content
  }
  @-moz-keyframes #{$animation_name} {
      @content
    }

  @-o-keyframes #{$animation_name} {
      @content
  }

  @keyframes #{$animation_name} {
      @content
  }
}

@include keyframe(backgroundStandBy) {
  0% {
    transform: translate(0px, 20px)
  }
  50% {
    transform: translate(0px, -5px)
  }
  100% {
    transform: translate(0px, 20px)
  }
}