$font-size-extra-large: 2.5em;
$font-size-large: 1.5em;
$font-size-medium: 1.15em;
$font-size-small: 1em;

$font-size-extra-large-mobile: 1.75em;
$font-size-large-mobile: 1.25em;
$font-size-medium-mobile: 1em;
$font-size-small-mobile: .75em;

body {
  font: 16px / 2 Helvetica;
  color: black;
  -webkit-font-smoothing: antialiased;
}

h1 {
  margin: 0;
  padding: 0 0 20px 0;
  line-height: 1em;
  font-size: $font-size-extra-large;

  @media #{$mobile} {
  	font-size: $font-size-extra-large-mobile;
  }
}
  
h2 {
  margin: 0;
  padding: 0 0 20px 0;
  font-size: $font-size-large;
  line-height: 1.5em;

  @media #{$mobile} {
		font-size: $font-size-large-mobile;
	}
}

p {
  margin: 0;
  padding: 0 0 20px 0;
  line-height: 1.65em;
  font-size: $font-size-small;

  @media #{$tablet, $desktop} {
		font-size: $font-size-medium;
		line-height: 1.75em;
  }
}